<div class="page">
  <div class="page-main">
    <app-header></app-header>
    <!-- Horizantal menu-->
    <div class="container">
      <div class="side-app">
        <div class="page-header">
          <h4 class="page-title">Volunteers</h4>
        </div>

        <div class="row">
          <div class="col-lg-12 p-30">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <style>
                    .searchBox {
                      display: inline;
                      width: auto;
                      margin-left: 10px;
                    }
                  </style>
                  <div class="col-lg-4 offset-lg-8 mb-4 text-right">
                    <label>Search : </label>
                    <input
                      type="text"
                      [(ngModel)]="searchTxt"
                      class="form-control searchBox"
                      name="searchTxt"
                      placeholder="search name"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4"></div>

                  <div class="col-lg-12" style="overflow: scroll;">
                    <table
                      class="table table-striped volunteer"
                      [mfData]="data"
                      #mf1="mfDataTable"
                      [mfRowsOnPage]="12"
                    >
                      <thead>
                        <tr>
                          <th>
                            <mfDefaultSorter by="sNo">
                              S.No
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="role">
                              role
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="gender">
                              gender
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="date_of_birth">
                              date of birth
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="cnic">
                              cnic
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="mobile_number">
                              mobile number
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="email">
                              email
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="address">
                              address
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="profession">
                              profession
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="qualification">
                              qualification
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="skill">
                              skill
                            </mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="health_status">
                              health_status
                            </mfDefaultSorter>
                          </th>
                          <!-- <th *ngFor="let item of mf1.data[0] | keyvalue">
                                        <mfDefaultSorter>
                                          {{ item.key }}
                                        </mfDefaultSorter>
                                      </th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of mf1.data; let i = index">
                          <td class="text-left">{{ i + 1 }}</td>
                          <td class="text-left">{{ item.role }}</td>
                          <td class="text-left">{{ item.gender }}</td>
                          <td class="text-left">{{ item.date_of_birth }}</td>
                          <td class="text-left">{{ item.cnic }}</td>
                          <td class="text-left">{{ item.mobile_number }}</td>
                          <td class="text-left">{{ item.email }}</td>
                          <td class="text-left">{{ item.address }}</td>
                          <td class="text-left">{{ item.profession }}</td>
                          <td class="text-left">{{ item.qualification }}</td>
                          <td class="text-left">{{ item.skill }}</td>
                          <td class="text-left">{{ item.health_status }}</td>
                          <!-- <td *ngFor="let list of item | keyvalue">
                                        {{ list.value }}
                                      </td> -->
                        </tr>
                      </tbody>

                      <tfoot>
                        <tr>
                          <td colspan="12">
                            <mfBootstrapPaginator
                              [rowsOnPageSet]="[10, 25]"
                            ></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
